/*************[ Debugging ]*****************************************************/
/*
.row-fluid { outline: solid 1px #c00; }
.row-fluid [class*="span"] { outline: solid 1px #0c0; }
*/

/*************[ Interface ]*****************************************************/
html, body {
    height: 100%;
    background: #505050;
    background: #EAEBEC;
    font: 100 16px Exo;
    line-height: 1.125em; /* 18px / 16px */
    line-height: 20px; /* 18px / 16px */
    color: #ccb697;
    color: #333;
    margin: 0px;
    padding: 0px;    
}

.site-width {
    position: relative;
    width: 61.25em; /* 980px / 16px */
    width: 980px; /* 980px / 16px */
    height: 100%;
    margin: 0 auto;
}
.center {
    text-align: center;
}
.hero {
    position: relative;
    background: #fff;
    font: 100 2.625em Exo; /* 42px / 16px */
    color: #333;
    padding: 0.2857142857em 0; /* 12px / 42px */
    margin-bottom: 0.2380952381em; /* 10px / 42px */
}
    body.contact .hero,
    body.about .hero
    {
        background: #ff9900;
        color: #fff;
    }

h2 {
    font-family: "Nova Square";
    color: #ff9900;
    margin: 0 0 0.8333333333em 0;
}

header[role="branding"] {
    outline: solid 1px #c00;
        border-bottom: solid 0.5em #6d6e71; /* 10px / 16px */
        padding-bottom: 0.5em; /* 8px / 16px */
        background: #505050;
}
    header[role="branding"] .left {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    header[role="branding"] .middle {
        font: 300 40px "Nova Square";
        width: 6.25em; /* 250px / 40px */
        height: 1.05em; /* 42px / 40px */
        overflow: hidden;
        margin: 0.25em auto 0 auto;
    }
        header[role="branding"] .middle .words {
            display: inline-block;
            position: relative;
            vertical-align: top;
            top: -0.15em; /* 6px / 40px */
            text-shadow: 0px 0px 1px #945d0d; /* 2px / 40px */
            text-shadow: 0px 1px 1px #FF9900; /* 2px / 40px */
            color: #141414;
            color: #ddd;
            color: #fff;
        }
        header[role="branding"] .middle .divider {
            width: 0.075em; /* 3px / 40px */
            height: 100%;
            background: black;
            background: #FF9900;
            display: inline-block;
            margin: 0 0.3em; /* 12px / 40px */
            /*
            -moz-box-shadow:    0px 0px 0.025em 0.025em #945d0d; /* 1px / 40px */
            /*-webkit-box-shadow: 0px 0px 0.025em 0.025em #945d0d; /* 1px / 40px */
            /*box-shadow:         0px 0px 0.025em 0.025em #945d0d; /* 1px / 40px */
        }

    header[role="branding"] .right {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    header[role="branding"] ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
        header[role="branding"] li {
            float: left;
            margin-right: 1.6666666667em; /* 30px / 18px */
            color: #fff;
        }
            header[role="branding"] li:last-of-type {
                margin-right: 0px;
            }


div[role="main"] {
    /*padding: 1.25em 0; /* 20px / 16px */
    position: relative;
    height: auto;
}

footer {
    width: 100%;
    height: 12.5em; /* 200px / 16px */
    background: url(../img/bg_bottom.png);
    border-top: solid 1px #945d0d;
}

/*************[ Styling - About ]***********************************************/
.about-content {
    height: auto;
    margin-bottom: 1.875em; /* 30px / 16 */
}
    .about-content > div {
        display: inline-block;
    }

    .about-content p {
        font-size: 0.875em; /* 14px / 16px */
    }
    .about-content .left {
        width: 22%;
    }
    .about-content .middle {
        width: 50%;
    }
    .about-content .right {
        width: 22%;
    }
    /*
        .about-content .right:after {
            content: "";
            float: left;
            margin-left: 16px;
            margin-top: 100px;
            border-top: dotted 4px #fff;
            width: 300px;
            height: 4px;
        }
    */

.about-content:last-of-type {
    margin-bottom: 0px;
}

/*************[ Styling - Output ]**********************************************/
.output {
    position: relative;
    width: 55.75em; /* 892px / 16px */
    min-height: 20.25em; /* 324px / 16px */
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
    .output .hover {
        height: 19em;
        margin-top: 0.625em; /* 10px / 16px */
        margin-bottom: 1.25em; /* 20px / 16px */
        background-color: none;
        border: solid 1px transparent;
    }
    .output:hover .hover {
        position: relative;
        background-color: #382b24;
        border: solid 1px #945d0d;
    }
    .output .img {
        position: absolute;
        width: 55.75em; /* 892px / 16px */
        height: 20.25em; /* 324 / 16px */
        top: 0em;
        left: 0em;
    }
        .output .img.vividvoice {
            background-image: url(../img/output/output_vividvoice.png);
        }

    .output h2 {
        display: inline-block;
    }
    .output a:link, .output a:visited, .output a:active {
        color: #945d0d;
        text-decoration: none;
    }
    .output a:hover {
        color: #fff;
    }

/*************[ Styling - Contact ]*********************************************/

#frm-website:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}
