html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    color: #000;
}

.site-width {
    margin: 0 auto;
}

.hero {
    font-size: 30px;
    padding: 0.2857142857em 0; /* 12px / 42px */
    padding: 5px 0; /* 12px / 42px */
}

@media (orientation : portrait) {
    .site-width {
        width: 96%;
    }

    header[role="branding"] {
    }

    footer {
        height: 6.25em; /* 100px / 16px */
        background: #fff;
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 100%;
        height: 120px;
        transition: all 0.3s ease;
    }
    footer.closed {
        background: #fff;
        position: fixed;
        /*right: -290px;*/
        right: -93%;
        bottom: -90px;
        width: 100%;
        height: 120px;
    }
}

@media (orientation : landscape) {
    .site-width {
        width: 98%;
        margin: 0 auto;
    }

    header[role="branding"] {
        margin-top: 0.4166666667em; /* 5px / 16px */
    }

    footer {
        height: 5em; /* 60px / 12px */
    }

}